<!DOCTYPE html>
<html lang="en">
{% load custom_filters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    {% block top_nav %}
    {% include "partials/top_nav.html" %}
    {% endblock %}
    <main class="container mx-auto p-4">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>